[Unit]
Description=Troglodyte Works Discord Bot
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
Type=simple
User=cdubbs
WorkingDirectory=/srv/troglodyteworks/backend/trog
EnvironmentFile=/srv/troglodyteworks/backend/trog/.env
ExecStart=/srv/troglodyteworks/backend/trog/.venv/bin/python -m twe.discord_bot.service
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
